<?php
if (!empty($listar_proyectos)) {
    foreach ($listar_proyectos as $key => $value) { ?>
        <div class="wbc-contenedor-principal">
            <div class="wbc-video">
                <?php echo $value['link_video']; ?>
                <div> <br>
                    <a class="wbc-link-comprar" href="<?php echo $value['url_video']; ?>" target="_blank"> <?php _e('Ir a video') ?></a>
               
                </div> <br>
            </div>
            <div class="wbc-descripcion-proyecto">
                <h3 class="wbc-title"><?= $value['title_proyecto'] ?></h3>
                <hr>
                <div class="wbc-contenido">
                    <h4><b><?php _e('Descripción') ?></b></h4>
                    <p> <?= $value['descrip_proyecto']; ?></p>
                    <hr>
                    <div class="wbc-cont-costo">
                        <div>
                            <p class="wbc-costo"><?php _e('Precio: $') ?><?= $value['costo_proyecto']; ?></p>
                        </div>
                        <div>
                            <a class="wbc-link-comprar" target="_blank" href="<?= $value['link_pago']; ?>"><?php _e('¡Compralo ahora!') ?></a>
                        </div>
                    </div>
                </div>
            </div>
        </div><br>
<?php
    }
} else {
    _e('No existen datos');
}
?>