        .wbc-contenedor-principal {
            display: flex;
            border: 2px solid #009be2;
            border-radius: 10px;
        }
        
        .wbc-video {
            text-align: center;
            width: 30%;
            padding: 7px;
        }
        
        .wbc-descripcion-proyecto {
            width: 70%;
            padding: 10px;
        }
        
        .wbc-title {
            font-size: 22px;
            color: #03bc00;
            font-weight: bold;
            margin: 10px;
        }
        
        .wbc-contenido {
            font-size: 14px;
            color: #000000;
            margin: 10px;
        }
        
        .wbc-link-comprar {
            border: 0px;
            background: #009be2;
            color: #ffffff;
            padding: 13px;
            border-radius: 16px;
            margin: 5px;
        }
        
        .wbc-link-comprar:hover {
            background: #0681b9;
            color: #ffffff;
        }
        
        .wbc-cont-costo {
            text-align: center;
        }
        
        .wbc-cont-costo>div>.wbc-costo {
            color: #067386;
            font-size: 30px;
            margin-bottom: 26px;
        }
        
        @media screen and (max-width: 760px) {
            .wbc-contenedor-principal {
                display: block;
            }
            .wbc-video {
                width: 100%;
            }
            .wbc-descripcion-proyecto {
                width: 100%;
            }
        }