.wbc-header {
    background: #eeeeee;
    color: #011238;
    padding: 10px;
}

.wbc-title-formulario {
    text-align: center;
    margin: 15px 0px 15px 0px;
    color: #28c339;
}

.btn-primary {
    background: #fa6400;
    border: 0;
}

label {
    color: #011238;
}