<div class="container-fluid">
    <div class="wbc-header">
        <h2><?php _e("WBC-Proyectos") ?></h2>
    </div>
    <h3 class="wbc-title-formulario"><?php _e("Llena el formulario para recibir pagos por tus proyectos") ?></h3>
    <hr>
    <form method='POST' action="<?php echo esc_url(admin_url('admin-post.php')); ?>">
        <input type='hidden' name='action' value='wbc_admin_proyecto'>
        <input type='hidden' name='crud' id="crud" value='<?= $auxiliar ?>'>
        <input type="hidden" name="id_cliente" value="<?= $id_proyecto ?>">
        <?php $this->wbc_presenta_mensaje(); ?>
        <div class="row">
            <div class="col-sm-5 text-center">
                <div class="form-group row">
                    <label for="titulo" class="col-sm-2 col-form-label"><?php _e("Título") ?></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="tituloproyecto" name="tituloproyecto" value="<?= $title_proyecto ?>" placeholder="<?php _e("Título") ?>">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="linkvideo" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <?php echo  $link_video ?>
                    </div>
                </div>

                <small id="emailHelp" class="form-text text-muted"><?php _e("Recomendado: ancho:100% - alto:315") ?></small>
                <div class="form-group row">
                    <label for="linkvideo" class="col-sm-2 col-form-label"><?php _e("Link") ?></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="linkvideo" name="linkvideo" value="<?= $link_video ?>" placeholder="<?php _e("Link de video") ?>">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="costo_proyecto" class="col-sm-2 col-form-label"><?php _e("Costo proyecto") ?></label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" step="any" id="costo_proyecto" name="costo_proyecto" value='<?= $costo_proyecto ?>' placeholder="Costo">
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="form-group row">
                    <label for="desc_proyecto" class="col-sm-2 col-form-label"><?php _e("Descripción") ?></label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="desc_proyecto" name="desc_proyecto" cols="10" rows="5"><?= $descrip_proyecto ?></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="form_pago" class="col-sm-2 col-form-label"><?php _e("Forma de pago") ?> </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="form_pago" name="form_pago" value="<?= $forma_pago ?>" placeholder="<?php _e("Forma de pago") ?>">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="link_descarga" class="col-sm-2 col-form-label"><?php _e("Link de descarga") ?> </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="link_descarga" name="link_descarga" value="<?= $link_descarga ?>" placeholder="<?php _e("Link de descarga") ?>">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="link_descarga" class="col-sm-2 col-form-label"><?php _e("URL del video") ?> </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="url_video" name="url_video" value="<?= $url_video ?>" placeholder="<?php _e("url del video") ?>">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="link_pago" class="col-sm-2 col-form-label"><?php _e("Link de pago") ?> </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="link_pago" name="link_pago" value="<?= $link_pago ?>" placeholder="<?php _e("Link de pago") ?>">
                        <a href="https://www.paypal.com/ec/signin" target="_blank"><?php _e("Iniciar sesion en Pypal") ?></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row text-center">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary"><?php _e("Registrar") ?></button>
            </div>
        </div>
    </form>
    <hr>
    <div class="table-responsive">
        <table class="table-responsive table table-bordered">
            <thead>
                <tr>
                    <th width="10%"><?php _e("Id"); ?></th>
                    <th width="10%"><?php _e("Proyecto"); ?></th>
                    <th width="10%"><?php _e("Costo"); ?></th>
                    <th width="30%"><?php _e("Descripción"); ?></th>
                    <th width="10%"><?php _e("Pago"); ?></th>
                    <th width="10%"><?php _e("Fecha"); ?></th>
                    <th width="20%"><?php _e("Acción"); ?></th>
                </tr>
                <?php
                if (!empty($listar_proyectos)) {
                    foreach ($listar_proyectos as $key => $value) { ?>
                        <tr>
                            <td><?= $value['proyecto_id'] ?> </td>
                            <td><?= $value['title_proyecto'] ?></td>
                            <td><?= $value['costo_proyecto'] ?></td>
                            <td><?= $value['descrip_proyecto'] ?></td>
                            <td><?= $value['forma_pago'] ?></td>
                            <td><?= $value['fecha_registro'] ?></td>
                            <td>
                                <div class="form-group col-md-6">
                                    <form method="POST" action="#">
                                        <button class="btn btn-warning" name="id_proyecto" style="font-size:1em;" value="<?= $value['proyecto_id'] ?>"><i class="far fa-edit"></i></button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                <?php  }
                } else {
                    
                    echo "<tr><td class='text-center' colspan='7'>" . __('No existen datos') . "</td></tr>";
                }
                ?>
            </thead>
        </table>
    </div>
</div>